   * {
      margin: 0px;
      padding: 0px;
      background-color: #f6f6f6;
      color: blue;
    }
    
    form {
      margin: 10% 5%;
      padding: 20% 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 25px;
      font-weight: 900;
      border: solid #2d3b3f 2px;
      border-radius: 30px;

    }
    
    input,label {
      color: blue;
      max-width: 90%;
      margin: 3px;
      padding: 4px;
      font-size: 25px;
      font-weight: 900;
      border-radius: 15px;
      text-align: center;
    }
    
    ::placeholder{
      font-size: 16px;
    }
    #divppm{
      top: 73px;
      width: fit-content;
      position: absolute;
      z-index: 5;
    }
    #divppm label,#ppm{
      width: 100px;
    }

